{% extends "index.html.twig" %}

{% block blogpostPage %}
    {% if blogpost.modification_date is null %}
        {% set wording_date,date = 'Créé le: ',blogpost.creation_date %}
    {% else %}
        {% set wording_date,date = 'Modifié le: ',blogpost.modification_date %}
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="m-top-40">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <div class="text-center m-top-40 m-bottom-40">
                        <h2>{{ blogpost.title }}</h2>
                        </br>
                        <div class="separator_auto"></div>
                        </br>
                        <h5>{{ blogpost.summary }}</h5>
                        </br>
                        </br>
                        <p>{{ blogpost.content }}</p>
                        <p>{{ wording_date }}{{ date }}</p>
                        <p>Publié par: {{ author }}</p>
                        {% if isCurrentUserAuthor %}
                            <div class="m-top-30">
                            <a class="text-primary" href="blogpost/edit?blogpost_id={{ blogpost.blogpost_id }}"><strong><i
                                        class="fa fa-edit"></i> Modification</strong></a>
                            </div>
                        {% endif %}
                        {% if isCurrentUserAuthor or isUserAdmin%}
                        <a class="text-primary" href="blogpost/delete?blogpost_id={{ blogpost.blogpost_id }}"><strong><i
                                        class="fa fa-trash"></i> Suppression</strong></a>
                    </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="separator_auto m-bottom-40"></div>
    <div class="container">
        <div class="row m-bottom-20">

            {#<div class="main_pricing roomy-100">#}
                <div class="col-md-8 col-md-offset-1 col-sm-12">
                    <h2 class="m-bottom-20">Commentaires:</h2>
                    {% if comments %}
                    {% for comment in comments %}
                        {{ include ('commentCard.html.twig',{'comment':comment})}}
                    {% endfor %}
                    {% else %}
                        <p> Ce blogpost n'a pas encore de commentaires, n'hésitez pas à écrire le votre</p>
                    {% endif %}
                </div>
            {#</div>#}
        </div>
    </div>
    {% if loggedIn %}
    <div class="separator_auto m-top-40 m-bottom-40"></div>

    <div class="container">
        <div class="row m-bottom-30">
                <div class="col-md-8 col-md-offset-1 col-sm-12 m-top-20">
                        {{ include ('commentCreation.html.twig')}}
                </div>
        </div>
    </div>
    {% endif %}

{#    <p>BLOGPOST VIEW PAGE</p>
    <p> BLOGPOST number {{ blogpost.blogpost_id }}</p>
    <p>{{ blogpost.content }}</p>#}



    {#{{ include ('commentCreation.html.twig')}}#}
{% endblock %}