
{% block commentCard %}
    <p> COMMENT n° {{ comment.comment_id }}</p>
    <p>titre commentaire: {{ comment.title }}</p>
    <p>commentaire: {{ comment.text }}</p>
    {% if comment.is_validated %}
        {% set wording='Invalider' %}
    {% else %}
        {% set wording='Valider' %}
    {% endif %}
    <div>
        <a href="comment/moderate?blogpost_id={{ comment.blogpost }}&comment_id={{ comment.comment_id }}">{{ wording }}
            ce commentaire</a>
    </div>

    <div>
        <a href="comment/edit?blogpost_id={{ comment.blogpost }}&comment_id={{ comment.comment_id }}">Modification</a>
    </div>

    <div>
        <a href="comment/delete?blogpost_id={{ comment.blogpost }}&comment_id={{ comment.comment_id }}">Supprimer</a>
    </div>
{% endblock %}